body {
	padding-top:60px;
	padding-bottom:40px;
}


.loading {
	background: url("/static/base/img/loading.gif") no-repeat center;
	width:32px;
	height:32px;
	display:none;
}

/* datatable */

.datatable-table th {
	cursor:pointer;
}

.datatable-table th:hover {
	text-decoration:underline;
}

.datatable-highlight {
	font-weight:bold;
}

.datatable-sorted {
	text-decoration:underline;
}

/* search */
.search-field {
	color: #aaa;
	line-height:1;
}

.typeahead-info {
	border-top: 1px solid #ddd;
	padding-top:5px;
}


/* bio */

#bio {

	background-color: #f5f4ec;
	font-size:13px;
}


.popover {margin-bottom: 30px;}


/* timeline */

#timeline {
	background-color: #f5f4ec;
	border: 1px solid #eae8dd;
	height: 150px;
}

rect, line {
	shape-rendering: crispEdges;
}

.node {
	stroke-opacity:0;
}

.timelabel {
	font-size:11px;
}


/* map */

.compass .back {
  fill: #eee;
  fill-opacity: .8;
}

.compass .fore {
  stroke: #999;
  stroke-width: 1.5px;
}

.compass rect.back.fore {
  fill: #999;
  fill-opacity: .3;
  stroke: #eee;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.compass .direction {
  fill: none;
}

.compass .chevron {
  fill: none;
  stroke: #999;
  stroke-width: 5px;
}

.compass .zoom .chevron {
  stroke-width: 4px;
}

.compass .active .chevron, .compass .chevron.active {
  stroke: #fff;
}

.compass.active .active .direction {
  fill: #999;
}