body {
	padding-top:60px;
	padding-bottom:40px;
}


.loading {
	background: url("/static/base/img/loading.gif") no-repeat center;
	width:32px;
	height:32px;
	display:none;
}

.small {
	font-size:12px;
}

.light {
	color: #999;
}

.section {
	padding:0px 10px;
}

.section-title {
	font-size: 14px;
	color: #333333;
	font-weight:bold;
	border-bottom: 1px solid #ddd;
	padding: 4px 0px;
	margin-top:20px;
	
}

.section-light {
	background-color: whiteSmoke;
	border-top: 1px solid #E5E5E5;
}

/* datatable */

.datatable-table {
	font-size:13px;
}

.datatable-table th {
	cursor:pointer;
}

.datatable-table th:hover {
	text-decoration:underline;
}

.datatable-highlight {
	font-weight:bold;
}

.datatable-sorted {
	text-decoration:underline;
}

/* search */

.search-field {
	color: #aaa;
	line-height:1;
}

.typeahead-info {
	border-top: 1px solid #ddd;
	padding-top:5px;
}

#collectionIdCheck {
	display: none;
}


/* steps */

.step {
	margin-bottom:100px;
}

.step.active {
	display: block;
}

.step-header {
	border-bottom: 1px solid #e5e5e5;
	margin: 20px 0px;
	line-height:16px;
}

.step-header h3 {
	font-weight: normal;
}

.step-title {
	font-size:21px;
	color:#333;
}

.step-tag {
	color:#333;
}


#new-schema-popup {
	display: none;
	width:100%;
	position:initial;
	z-index:999;
}

#new-singleschema-name {
	width:auto;
}

.close-height {
	line-height:8px;
}

.block {
	margin:30px 0px;
}

.icon-remove:hover {
	opacity:1;
}

.box {
	border: 1px solid #BBB;
	min-height:40px;
	margin-bottom: 10px;
	padding: 5px 9px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.box-container {
	margin-bottom: 10px;
}

.box-drag {
	background-color: #f9f7f7;
	
	background-image: -webkit-linear-gradient(top, #f9f7f7, #f5f5f5);
	background-image: -o-linear-gradient(top, , #f9f7f7, #f5f5f5);
	background-image: linear-gradient(to bottom, #f9f7f7, #f5f5f5);
	background-repeat: repeat-x;
	
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow:  0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow:  0 1px 1px rgba(0, 0, 0, 0.075);
	
	transition: border-color 0.2s;
	-moz-transition: border-color 0.2s;
	-webkit-transition: border-color 0.2s;
	-o-transition: border-color 0.2s;
	cursor:move;

}

.box-drag:hover {
	border-color: #888;
}


.box-drop {
	background-color: white;
	padding: 5px 9px;
	
	/*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow:  inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow:  inset 0 1px 1px rgba(0, 0, 0, 0.075);
	*/
	display: -webkit-box;
	-webkit-box-pack: start;
	-webkit-box-align: center;
	
	border: 1px dashed #BBB;
}

.box-title {
	margin-bottom: 3px;
	font-size:13px;
}

.box-icon {
	margin-top:15px;
	opacity: .3;
}

.description {
	font-size: 13px;
}

.mini-progress {
	width:100px;
	height:8px;
	margin: 10px 20px;
}

#file-info {
	display:none;
}

.fileinput-button {
	position: relative;
	overflow: hidden;
	margin-right: 4px;
}

.fileinput-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	border: solid transparent;
	border-width: 0 0 100px 200px;
	opacity: 0;
	filter: alpha(opacity=0);
	-moz-transform: translate(-300px, 0) scale(4);
	direction: ltr;
	cursor: pointer;
}


.textarea-vertical {
	resize: vertical;
}


/* searchlist */

.searchlist-list {
	max-height: 200px;
	overflow: scroll;
	font-size:13px;
}


.mapper-header {

}

.mapper-draggable {
	
	background-color: #f9f7f7;
	border: 1px solid #cccccc;
	min-height:40px;
	margin-bottom: 10px;
	padding: 5px 9px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow:  0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow:  0 1px 1px rgba(0, 0, 0, 0.075);
	
	transition: border-color 0.2s;
	-moz-transition: border-color 0.2s;
	-webkit-transition: border-color 0.2s;
	-o-transition: border-color 0.2s;
	
	cursor:move;
}






.mapper-draggable:hover {
	
	border-color: #999999;
	
}


.mapper-droppable {
	
	border: 1px solid #cccccc;
	min-height:40px;
	margin-bottom: 10px;
	
	padding: 5px 9px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow:  inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow:  inset 0 1px 1px rgba(0, 0, 0, 0.075);
	
}


.done {
	font-weight:bold;
}

.undone {
	font-weight:normal;
}

.mapper-title {
	font-size: 13px;
	color: #333;
}


.mapper-keyslist {}
.mapper-attrbiuteslist {}


/* Some shadows */

.shadow-down {
	-webkit-mask-image: -webkit-linear-gradient(left,transparent 0%,rgba(0,0,0,.8) 50%,transparent 100%),-webkit-linear-gradient(top,#000 1px,transparent 1px);
	background-color: transparent;
	background-image: -webkit-linear-gradient(top,rgba(0, 0, 0, .2),transparent);
	background-image: -moz-linear-gradient(top,rgba(0, 0, 0, .2),transparent);
	background-image: -ms-linear-gradient(top,rgba(0, 0, 0, .2),transparent);
	background-image: -o-linear-gradient(top,rgba(0, 0, 0, .2),transparent);
	background-image: linear-gradient(top,rgba(0, 0, 0, .2),transparent);
	border-top: 1px solid rgba(0, 0, 0, .2);
	top: 0;
}
	
.shadow-down {
	height: 4px;
	left: 0;
	width: 100%;
}

