{% extends "base/base.html" %}

{% block title %}
Athanasius | Explore
{% endblock %}

{% block head_script %}
<script src="/static/base/js/bootstrap-typeahead.js"></script>
{% endblock %}

{% block content %}
<div class="page-header">
<h2>Explore data
</div>


<div class="row">
	<div class="span8">
		<div class="control-group">
				<div class="controls">
					<div class="input-append">
						<form action="#">
						<input id="search" class="span3" type="text" data-provide="typeahead" autocomplete="off" placeholder="Search..."><button id="startSearch" class="btn" type="submit">Search</button>
						</form>
					</div>
			</div>
		</div>
	</div>
	<div class="loading pull-right"></div>
</div>

<div id="results">
</div>


<script src="/static/base/js/explore.js"></script>

{% endblock %}
