{% extends "base/base.html" %}

{% block title %}
Athanasius | Persons
{% endblock %}

{% block head_script %}
<script src="/static/base/js/bootstrap-typeahead.js"></script>
<script src="/static/base/js/polymaps.min.js"></script>
<script src="/static/base/js/ink.js"></script>
<script src="/static/base/js/ink.vis.js"></script>


{% endblock %}

{% block content %}
<div class="page-header">
</div>

	
	<div class="row">
		<div id="bio" class="span12">
			<div class="row">
				<div id="bio-picture" class="span2"></div>
				<div id="bio-info-base" class="span5"></div>
				<div id="bio-info-more" class="span5"></div>

			</div>
		</div>
		
	</div>
	
	<h4>Timeline</h4>
	<div class="row">
		<div id="timeline" class="span12"></div>
	</div>

	<h4>Places</h4>
	<div class="row">
		<div id="map" class="span12"></div>
	</div>

	



<script>
	var person_id = "{{ person_id }}";
</script>

<script src="/static/base/js/explore_persons.js"></script>

{% endblock %}
